<html>

<h1>Eventuate development status</h1>

<table>
  <tr>
    <th>
      Project
    </th>
    <th>
      master
    </th>
    <th>
      -
    </th>

    {% for branch in branches %}
      <th>
        {{ branch }}
      </th>
    {% endfor %}

  </tr>

{% for project in projects %}

  {% if project.path is defined %}
    {% set projectPath = project.path %}
  {% else %}
    {% set projectPath = project %}
  {% endif %}

  <tr>
    <td>
      <a target="_blank" href="https://github.com/{{ projectPath }}">{{ projectPath }}</a>
    </td>
    <td>
      <a target="_blank" href="https://circleci.com/gh/{{ projectPath }}"><img src="https://circleci.com/gh/{{ projectPath }}.svg?style=svg"></a>
    </td>
    <td>
      <a target="_blank" href="https://github.com/{{ projectPath }}/pulls"><img src="https://img.shields.io/github/issues-pr/{{ projectPath }}"></a>
    </td>

    {% for branch in branches %}

      {% if project[branch] is defined %}

      <td>
        <a target="_blank" href="https://circleci.com/gh/{{ projectPath }}/tree/{{branch}}"><img src="https://circleci.com/gh/{{ projectPath }}/tree/{{branch}}.svg?style=svg"></a>
      </td>

      {% else %}

      <td>
        -
      </td>

      {% endif %}

    {% endfor %}

  </tr>
{% endfor %}

</table>

</html>
